* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    background-color: #f4f7fa;
    color: #333;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff; /* Cor inicial da borda (azul) */
    transition: 0.3s ease-in-out;
}

.container:hover {
    border-color: #339edb ;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 30px;
}

.form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #398439;
}

span {
    background-color: darkcyan;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.input-container {
    margin-top: 27px;
}